[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
alembic = "*"
sqlalchemy = "*"
pyjwt = "*"
uvicorn = "*"
starlette = "*"
python-dotenv = "*"
pyyaml = "*"
mysql-connector-python = "*"
python-decouple = "*"
passlib = "*"

[dev-packages]

[requires]
python_version = "3.11"
